h1, h3, div, #Portfolio, #Contact+Cv, #Professional-Links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: #eed2d2;
}

#Top-Page-Strip {
    height: 75px;
    padding-top: 30px;
    padding-left: 500px;
    background-color: #3e3535;
    border: 5px solid black;
    position: sticky;
    top: 0px;
    left: 0px;
}

body{
    background-color: #3e3535;
}

#Portfolio {
    margin: 50px;
    border:5px solid blue;
}

p{
   padding: 25px, 25px, 25px, 25px;
}

#Professional-Links{
    padding-top:500px;
    border: 1px solid black;
}

